{% extends 'base.html.twig' %}

{% block title %}Compteur index{% endblock %}

{% block body %}
    <h1>Compteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numcom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for compteur in compteurs %}
            <tr>
                <td>{{ compteur.id }}</td>
                <td>{{ compteur.numcom }}</td>
                <td>
                    <a href="{{ path('compteur_show', {'id': compteur.id}) }}">show</a>
                    <a href="{{ path('compteur_edit', {'id': compteur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('compteur_new') }}">Create new</a>
{% endblock %}
