{% extends 'template.html.twig' %}

{% block title %}Reglement index{% endblock %}

{% block body %}
    <h1>Reglement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modereg</th>
                <th>Montant</th>
                <th>Numpiece</th>
                <th>Echeance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reglement in reglements %}
            <tr>
                <td>{{ reglement.id }}</td>
                <td>{{ reglement.modereg }}</td>
                <td>{{ reglement.montant }}</td>
                <td>{{ reglement.numpiece }}</td>
                <td>{{ reglement.echeance }}</td>
                <td>
                    <a href="{{ path('reglement_show', {'id': reglement.id}) }}"class = "btn btn-info">show</a>
                    <a href="{{ path('reglement_edit', {'id': reglement.id}) }}" class = "btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reglement_new') }}"class = "btn btn-success">Create new</a>

{% endblock %}
