{% block body %}
    <h1>Livraison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numl</th>
                <th>Client</th>
                <th>Dateliv</th>
                <th>Observation</th>
                <th>Totht</th>
                <th>Tottva</th>
                <th>Totttc</th>
            </tr>
        </thead>
        <tbody>
        {% for livraison in livraison %}
            <tr>
                <td>{{ livraison.id }}</td>
                <td>{{ livraison.numl }}</td>
                <td>{{ livraison.client }}</td>
                <td>{{ livraison.Dateliv ? livraison.Dateliv|date('Y-m-d') : '' }}</td>
                <td>{{ livraison.observation }}</td>
                <td>{{ livraison.totht }}</td>
                <td>{{ livraison.tottva }}</td>
                <td>{{ livraison.totttc }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('livraison_new') }}">Create</a>
{% endblock %}
