{% extends 'template.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
  <div class ="container">
            <div class ="panel panel-primary">
                <div class ="panel-heading">
               <i class="icon_menu"></i>Liste Client
            </div>
             
                <div class ="panel-body">
    <h1>Client index</h1>

    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>Responsable</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Tel</th>
                <th>Portable</th>
                <th>Email</th>
                <th>Matfisc</th>
                <th>Cin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.code }}</td>
                <td>{{ client.libelle }}</td>
                <td>{{ client.responsable }}</td>
                <td>{{ client.adresse }}</td>
                <td>{{ client.ville }}</td>
                <td>{{ client.tel }}</td>
                <td>{{ client.portable }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.matfisc }}</td>
                <td>{{ client.cin }}</td>
                <td>
                  <a href="{{ path('client_show', {'id': client.id}) }}" class = "btn btn-success">show</a>
                    </td>
                    <td>
                    <a href="{{ path('client_edit', {'id': client.id}) }}"class = "btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}"class = "btn btn-success">Create new</a>
</div>
</div>
</div>
{% endblock %}
